absl-py==2.3.1
aeidon==1.13
affine==2.4.0
aiofiles==24.1.0
alabaster==0.7.13
annotated-types==0.6.0
ansi2html==1.9.2
anyio==4.9.0
appdirs==1.4.4
apsw==3.44.2.0
apt-xapian-index==0.49
apturl==0.5.2
arango==0.2.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asn1crypto==1.4.0
astroid==3.0.3
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==25.3.0
Automat==22.10.0
autopep8==2.0.4
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.2
beniget==0.4.1
black==23.12.1
bleach==6.2.0
blinker==1.7.0
Brlapi==0.8.3
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.13.1
cachetools==5.5.2
camel-snake-pep8==0.2.3
cclib==1.8
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-hnswlib==0.7.6
chromadb==0.6.3
cleo==2.1.0
click==8.1.7
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
contextily==1.6.2
contourpy==1.3.2
coverage==7.6.8
crashtest==0.4.1
cryptography==41.0.7
css-parser==1.0.10
cssselect==1.2.0
cssutils==2.9.0
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.7
cythonizer==1.2.0b3
dacite==1.8.1
dash==3.0.4
dash-bootstrap-components==2.0.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2025.4.1
dbus-python==1.2.18
debugpy==1.8.8
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deluge==2.0.3
Deprecated==1.2.14
diff-match-patch==20230430
dill==0.3.8
distlib==0.3.8
distro==1.9.0
distro-info==1.1+ubuntu0.2
dnspython==2.4.2
docutils==0.20.1
dulwich==0.21.7
duplicity==2.1.5
durationpy==0.9
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
facenet-pytorch==2.5.3
fastapi==0.115.6
fasteners==0.19
fastjsonschema==2.19.1
feedparser==6.0.11
fer==22.5.1
ffmpeg==1.4
ffmpy==0.5.0
filelock==3.13.1
flake8==6.1.0
Flask==3.0.3
flatbuffers==25.2.10
FMPy==0.3.25
fonttools==4.47.0
fqdn==1.5.1
fs==2.4.16
fsspec==2025.3.2
furo==2023.9.10
fuse-python==1.0.2
future==0.18.3
gast==0.5.4
geographiclib==2.0
GeoIP==1.3.2
geopandas==1.1.1
geopy==2.4.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.0rc0
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gpg==1.16.0
gradio==5.29.0
gradio_client==1.10.0
groovy==0.1.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
h5py==3.14.0
html2text==2020.1.16
html5-parser==0.4.12
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-ws==0.7.2
huggingface-hub==0.30.2
humanfriendly==10.0
hyperlink==21.0.0
i3ipc==2.2.1
idna==3.6
ifaddr==0.2.0
imageio==2.37.0
imageio-ffmpeg==0.6.0
imagesize==1.4.1
importlib-metadata==7.0.1
importlib_resources==6.5.2
importmagic==0.1.7
incremental==22.10.0
inflate64==1.0.0
iniconfig==2.1.0
iniparse==0.5
inquirerpy==0.3.4
installer==0.7.0
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.19.0
ipython_genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jaconv==0.3.4
jaraco.classes==3.3.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.6
jiter==0.9.0
joblib==1.3.2
json5==0.9.28
jsonpointer==3.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-dash==0.4.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.5.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.10.0
keyring==24.3.0
kitti3==0.4.1
kiwisolver==1.4.5
kubernetes==32.0.1
language-selector==0.1
lark==1.2.2
launchpadlib==1.11.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
Levenshtein==0.23.0
libclang==18.1.1
libtorrent===2.0.5-build-libtorrent-rasterbar-qrM5vM-libtorrent-rasterbar-2.0.5-bindings-python
libvirt-python==8.0.0
lmstudio==1.3.0
locket==1.0.0
lockfile==0.12.2
louis==3.20.0
lxml==5.4.0
lz4==4.3.2
macaroonbakery==1.3.4
Mako==1.3.0
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.10.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mechanize==0.4.9
mercantile==1.2.1
mistune==3.0.2
ml_dtypes==0.5.1
mmh3==5.1.0
mock==5.1.0
monotonic==1.6
more-itertools==10.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multivolumefile==0.2.3
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.1.0
narwhals==1.37.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nose==1.3.7
notebook==7.3.3
notebook_shim==0.2.4
numpy==2.1.3
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.2
olefile==0.47
ollama==0.4.4
onnxruntime==1.21.1
openai==1.77.0
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opentelemetry-api==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
OpenTimelineIO==0.15.0
opt_einsum==3.4.0
optree==0.16.0
orjson==3.10.18
overrides==7.7.0
packaging==23.2
pandas==2.3.0
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.3
partd==1.4.2
pathspec==0.12.1
pathvalidate==3.2.0
patsy==0.5.5
pbr==5.8.0
pep8==1.7.1
periodictable==1.6.1
pexpect==4.9.0
pfzy==0.3.4
phply==1.2.6
pickleshare==0.7.5
pillow==11.2.1
pkginfo==1.9.6
platformdirs==3.11.0
plotly==6.0.1
plotly-express==0.4.1
pluggy==1.5.0
ply==3.11
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
pomshare_marioschwaiger @ file:///home/marioschwaiger/offlineProjekte/upsim_22/pomshare_marioschwaiger-1.0.tar.gz
posthog==4.0.1
proglog==0.1.12
prometheus_client==0.21.0
prompt-toolkit==3.0.43
proto-plus==1.26.1
protobuf==5.29.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py7zr==0.20.8
pyaaf2==1.7.1
pyarangoutils_schwaiger @ file:///home/marioschwaiger/Projekte/arangoutils/dist/pyarangoutils_schwaiger-1.0.tar.gz
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybcj==1.0.2
pycairo==1.20.1
pychm==0.8.6
pycodestyle==2.11.1
pycountry==23.12.11
pycparser==2.21
pycryptodomex==3.19.1
pycups==2.0.1
pydantic==2.11.4
pydantic_core==2.33.2
pydub==0.25.1
pyenchant==3.2.2
pyenhancedtestdeco @ file:///home/marioschwaiger/Projekte/pyenhancedtestdeco/dist/pyenhancedtestdeco-1.0.tar.gz#sha256=440840143c16cdeea5d1334648471c4416af512203aaa7b9ac9359881ce757ee
PyExifTool==0.5.6
pyflakes==3.1.0
pygame==2.1.2
Pygments==2.17.2
PyGObject==3.42.1
PyHamcrest==2.1.0
PyJWT==2.8.0
pykakasi==2.2.1
pylibacl==0.6.0
pylint==3.0.3
pymacaroons==0.13.0
PyNaCl==1.5.0
pyogrio==0.11.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
PyPika==0.48.9
pyppmd==1.1.0
pyproj==3.7.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyqtgraph==0.13.7
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyRFC3339==1.1
PySide6==6.9.0
PySide6_Addons==6.9.0
PySide6_Essentials==6.9.0
pytest==8.3.5
python-apt==2.4.0+ubuntu4
python-arango==7.8.1
python-dateutil==2.8.2
python-debian==0.1.49
python-dotenv==1.1.0
python-json-logger==2.0.7
python-Levenshtein==0.23.0
python-multipart==0.0.20
python-slugify==8.0.1
python-xlib==0.33
pythonfmu3==0.2.2
pythran==0.14.0
pytoolconfig==1.3.1
pytube==15.0.0
pytz==2023.3.post1
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.1.2
pyzstd==0.15.9
QtPy==2.0.0
rapidfuzz==3.6.1
rasterio==1.4.3
redis==5.0.1
referencing==0.32.0
regex==2023.12.25
rencode==1.0.6
reportlab==4.0.8
repoze.lru==0.7
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rope==1.12.0
Routes==2.5.1
rpds-py==0.16.2
rsa==4.9.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
ruff==0.11.8
safehttpx==0.1.6
sanitize-filename==1.2.0
scikit-learn==1.7.1
scipy==1.15.2
scour==0.38.2
seaborn==0.13.0
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.3
service-identity==23.1.0
setproctitle==1.2.2
sgmllib3k==1.0.0
shapely==2.1.1
shellingham==1.5.4
shiboken6==6.9.0
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soundcloud-v2==1.3.1
soupsieve==2.5
Sphinx==7.2.6
sphinx-basic-ng==1.0.0b1
sphinx-copybutton==0.5.2
sphinx_inline_tabs==2023.4.21
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sphinxext-opengraph==0.9.1
spotdl==4.2.4
spotipy==2.23.0
ssh-import-id==5.11
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.1
sympy==1.14.0
syncedlyrics==0.7.0
systemd-python==234
tenacity==8.2.3
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
terminado==0.18.1
terminator==2.1.1
text-unidecode==1.3
texttable==1.7.0
threadpoolctl==3.2.0
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==1.0.0
torch==2.7.1
torchvision==0.22.1
tornado==6.4
tqdm==4.67.1
traitlets==5.14.0
translate-toolkit==3.12.1
triton==3.3.1
trove-classifiers==2024.1.8
Twisted==23.10.0
typer==0.15.3
types-python-dateutil==2.9.0.20241003
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2023.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==15.1.0
Unidecode==1.3.7
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.4.0
usb-creator==0.3.7
uvicorn==0.32.1
uvloop==0.21.0
vboxapi==1.0
virtualenv==20.25.0
vobject==0.9.6.1
wadllib==1.3.6
watchfiles==1.0.5
wcwidth==0.2.12
webcolors==24.11.1
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xdg==6.0.0
xkit==0.0.0
xyzservices==2025.4.0
yapf==0.40.2
yt-dlp==2023.11.16
ytmusicapi==1.3.2
zeroconf==0.131.0
zipp==3.17.0
zope.interface==6.1
